<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level %logger{26} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="net.bramp.ffmpeg.FFprobe" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>